:root{
    --USblue:   hsla(228, 60%, 21%, 1);
    --USred:    hsla(2, 92%, 64%, 1);
    --USwhite:  hsla(0, 0%, 100%, 1);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Public Sans', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 10vh;
}

.btn{
    padding: 1.5rem 3rem;
    color: var(--USwhite);
    border-radius: 1%;
    border: 1px solid #111111;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn svg {
    transform: translateX(-75%);
}

.buy-btn{
    background-color: var(--USred);
}
.twitter-btn{
    background-color: var(--USwhite);
    color: var(--USblue);
}
.telegram-btn{
    background-color: var(--USblue);
}
.topbar-info{
    background-color: var(--USwhite);
    color: var(--USred);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 1rem;
    font-weight: 700;
}
.info{
    background-color: var(--USblue);
    color: var(--USwhite);
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}
.info ul{
    list-style-type: none;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.quote{
    background-color: var(--USred);
    color: var(--USwhite);
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote blockquote{
    font-weight: 100;
    font-size: 68px;
    line-height: 80px;
    display: flex;
    flex-direction: column;
}

.quote blockquote span{
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: right;
}

.twitter{
    background-color: var(--USblue);
    color: var(--USwhite);
    display: flex;
    align-items: flex-end;
}
.telegram{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.quote, .twitter, .telegram{
    padding: 2rem;
}

.trumpIllustration {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    pointer-events: none;
}


@media (max-width: 1024px) {

    .info, .buy, .quote, .twitter, .telegram{
        grid-column: 1/3;
    }

    .info{
        font-size: 16px;
        line-height: 25px;
    }
    .info .logo {
        width: 25%;
    }
    .twitter-btn{
        transform: translateY(75%);
    }
    .twitter-btn, .telegram-btn{
        z-index: 1;
    }

 }